.submit {
    margin-top: 20px;
    --border-radius: 25px; /* Ajusta el radio para redondear los botones */
  }
  
  .ion-margin-top {
    margin-top: 10px;
  }
  
  /* Personaliza el color amarillo oscuro según tus preferencias */
  
  
  