<app-header [isModal]="true"title="Agregar Tarea"></app-header>
<ion-content>

    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
        <ion-avatar class="ion-avatar" *ngIf="form.value.image">
            <img [src]="form.value.image" />
        </ion-avatar>


        <app-custom-input  type="text" label="Titulo"></app-custom-input>
        
        <app-custom-input  type="text" label="Agregar dia"></app-custom-input>

        <app-custom-input  type="text" label="Recordarme"></app-custom-input>

        <app-custom-input  type="text" label="Agregar Nota"></app-custom-input>
        

        
    
        <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
          Agregar Tarea
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </form>

</ion-content>